@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #111;
    font-family: 'Poppins', Times, Helvetica, sans-serif;
}
.main-title {
    padding-left: 30px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 3rem;
    color: white;
}
.cards-container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 30px;
    padding: 30px;
}
/* pour masquer scroll-bar */
.cards-container::-webkit-scrollbar {
    display: none;
}
.card {
    flex-shrink: 0;  /* empeche le retrecissement de la largeur */
    flex-basis: 200px;
    border: 1px solid lightgray;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 35px;
    height: fit-content;
}
.card-img {
    display: block;
    width: 100%;
    
   
}
.card-body {
    padding: 15px;
    background-color: whitesmoke;
}
.card-title {
    margin: 0;
}
.card-text {
    margin-bottom: 0;
}